{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Phablytics!</h1>
  <p class="lead">
    A web dashboard to <a href="/explore">explore</a> various <a href="/reports">reports</a>,
    <a href="/metrics">metrics</a>, and visualizations about how our
    engineering teams work, from the perspective of
    <a href="{{ phabricator_instance_base_url }}">Phabricator</a>.
  </p>
  <hr class="my-4" />
  <p>
    Gathering and reviewing data and metrics about how we work will help us to continually
    monitor and improve our performance.
  </p>
  <a class="btn btn-primary btn-lg" href="/help" role="button">Learn more</a>
</div>
{% endblock %}
